#display{
    background-color: white;
}
body{
    background-image: url("https://images.pexels.com/photos/4386326/pexels-photo-4386326.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover;
}
.cal{
    text-align: center;
    color: rgb(238, 122, 13);
    height: 70px;
    line-height: 70px;
    font-size: 50px;

}

.container {
    border-radius: 10px;
    background-color: rgb(24, 199, 226);
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid rgb(35, 10, 135);
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#c{
    background-color: red;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}
#equal:hover{
    background-color: darkblue;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}